[submodule "7. Implementacion de bases de datos/miniserie"]
	path = 7. Implementacion de bases de datos/miniserie
	url = https://github.com/samuelvillegasm/miniserie
[submodule "4. Testing/EjercicioTestsMetrosCuadrados"]
	path = 4. Testing/EjercicioTestsMetrosCuadrados
	url = https://github.com/dcardonaniev/EjercicioTestsMetrosCuadrados.git
[submodule "4. Testing/EjercicioTestsStarwars"]
	path = 4. Testing/EjercicioTestsStarwars
	url = https://github.com/dcardonaniev/EjercicioTestsStarwars.git
